In [36]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd
import time
import os

In [37]:
website = 'https://www.adamchoi.co.uk/teamgoals/detailed'
path = './chromedriver'

In [38]:
driver = webdriver.Chrome(path)
driver.get(website)

In [39]:
all_matches_button = driver.find_element_by_xpath('//label[@analytics-event="All matches"]')
all_matches_button.click()

In [40]:
dropdown = Select(driver.find_element_by_id('country'))
dropdown.select_by_visible_text('Spain')

In [41]:
matches = driver.find_elements_by_tag_name('tr')

matches = [match.text for match in matches]

In [42]:
df_matches = pd.DataFrame({'matches':matches})
df_matches

                                   matches
0      14-08-2021 Alaves 1 - 4 Real Madrid
1         21-08-2021 Alaves 0 - 1 Mallorca
2         27-08-2021 Valencia 3 - 0 Alaves
3          18-09-2021 Alaves 0 - 2 Osasuna
4          22-09-2021 Espanol 1 - 0 Alaves
..                                     ...
757     30-04-2022 Alaves 2 - 1 Villarreal
758    08-05-2022 Villarreal 1 - 1 Sevilla
759  12-05-2022 Vallecano 1 - 5 Villarreal
760   15-05-2022 Villarreal 1 - 2 Sociedad
761  22-05-2022 Barcelona ? - ? Villarreal

[762 rows x 1 columns]

In [43]:
df_matches.to_csv('partidos.csv', index = False)

In [44]:
time.sleep(20)
driver.quit()