### Datos Nulos

In [34]:
import pandas as pd
import numpy as np

In [35]:
dict = {'Col1':[1,2,np.nan,4], 
        'Col2':[5,6,np.nan,8], 
        'Col3':['a','b','c',None]}

In [36]:
df = pd.DataFrame(dict)
df

   Col1  Col2  Col3
0   1.0   5.0     a
1   2.0   6.0     b
2   NaN   NaN     c
3   4.0   8.0  None

In [37]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False  False  False
2   True   True  False
3  False  False   True

In [38]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     0     0
2     1     1     0
3     0     0     1

In [39]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      5.0        a
1      2.0      6.0        b
2  Missing  Missing        c
3      4.0      8.0  Missing

In [40]:
df.fillna(df.mean())

/tmp/ipykernel_1516/634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

       Col1      Col2  Col3
0  1.000000  5.000000     a
1  2.000000  6.000000     b
2  2.333333  6.333333     c
3  4.000000  8.000000  None

In [41]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   5.0     a
1   2.0   6.0     b
2   3.0   7.0     c
3   4.0   8.0  None

In [42]:
df.dropna()

   Col1  Col2 Col3
0   1.0   5.0    a
1   2.0   6.0    b