In [1]:
import pandas as pd

In [3]:
psg_players = pd.Series(['navas', 'mbappe', 'neymar', 'messi'],
                        index=[1,7,10,30])

In [4]:
psg_players

1      navas
7     mbappe
10    neymar
30     messi
dtype: object

In [5]:
players = {1: 'navas', 7:'mbappe', 10:'neymar', 30:'messi'}
pd.Series(players)

1      navas
7     mbappe
10    neymar
30     messi
dtype: object

In [6]:
psg_players[7]

'mbappe'

In [7]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 170.0, 170.0, 165.0],
 'Goles':[2,200,200,200]
 }

In [19]:
table = {'jugador': ['navas', 'mbappe', 'neymar', 'messi'], 
 'altura': [185.1, 178.2, 180.3, 163.1], 
 'goles': [0, 25, 15, 12]
}

In [10]:
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [20]:
pd.DataFrame(table,index=[1,7,10,30])

   jugador  altura  goles
1    navas   185.1      0
7   mbappe   178.2     25
10  neymar   180.3     15
30   messi   163.1     12

In [26]:
data = pd.DataFrame(table, index=[1,7,10,30])

In [27]:
data.columns

Index(['jugador', 'altura', 'goles'], dtype='object')

In [28]:
data.index

Int64Index([1, 7, 10, 30], dtype='int64')

## PRACTICA
---

```
'Jugador':['Luis SuÃ¡rez','Jorge Molina', 'Antonio Puertas', 'GermÃ¡n SÃ¡nchez', 'Luis Milla', 'LuÃ­s Manuel Arantes Maximiano']

'PosiciÃ³n':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero']

'NÃºmero':[9, 23, 10, 6, 5, 1]

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0]

'Goles':[7, 7, 5, 2, 2, 0]
´´´

---